
<link href="~/Content/table.css" rel="stylesheet" />
<style type="text/css">
    .ui-datepicker { font-size: 12px !important; }
    #tbCar.bordered th {
        text-align:left !important;
    }
    /* fix the size of the pager */
    input.ui-pg-input { width: auto; }
    .ui-jqgrid tr.jqgrow td { white-space: normal !important; }
</style>
<script type="text/javascript">
    function CreateGrid(data) {
        $("#divGridTable").html('<table id="grid_qcreject"></table><div id="pager_qcreject"></div>');
        //Grid QC Reject
        jQuery("#grid_qcreject").jqGrid({
            url: '@Url.Action("GridCriticalRejDetail","Report")?' + data,
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Entry Date', 'Product', 'Item code', 'Lot no.', 'Problem Detail', 'Defective level', 'Image', 'CAR Detail'],
            colModel: [
                 { name: 'entry_date', index: 'entry_date', align: 'center', sortable: true, sorttype: 'date', formatter: 'date', formatoptions: { srcformat: 'd/m/Y', newformat: 'd/m/Y' }, datefmt: 'd/m/Y' },
                 { name: 'product_name', index: 'Master_Product.product_name', align: 'left', sortable: true },
                 { name: 'item_code', index: 'item_code', align: 'left', sortable: true },
                 { name: 'lot_no', index: 'lot_no', align: 'left', sortable: true },
                 { name: 'problem', index: 'problem', align: 'left' },
                 { name: 'defective_lv', index: 'defective_lv', align: 'center', sortable: true },
                 { name: 'picture', index: 'picture', align: 'center' },
                 { name: 'issue_car', index: 'issue_car', align: 'center', sortable: true }
             ],
             pager: jQuery('#pager_qcreject'),
             rowNum: 10,
             rowList: [5, 10, 20, 50],
             autowidth: true,
             //width: 500,
             height: 'auto',
             sortname: 'entry_date',
             sortorder: "asc",
             viewrecords: true,
             rownumbers: true,
             rownumWidth: '25px',
             //caption: 'Critical Reject',
             ajaxSelectOptions: { cache: false },
             //gridview:true,
             //loadonce: false,
             scrollOffset: 0
         });

         jQuery("#grid_qcreject").jqGrid('navGrid', '#pager_qcreject',
             { edit: false, add: false, del: false, search: false, view: false }, {}, {}, {}, {}, {});
    }

    $(document).ready(function () {
        $("#slPlant").change(function () {
            $.get("@Url.Action("getProductByPlant")", "plantid=" + $(this).val(), function (data) {
                $("#slProduct").children().remove();
                var selection = "<option value='0'>All Product</option>";
                for (var i = 0; i < data.length; i++) {
                    selection += "<option value='" + data[i].product_id + "'>" + data[i].product_name + "</option>";
                }
                $("#slProduct").html(selection);
            });
        });

        //Datepicker Setting
        $(".datepicker").datepicker({
            //beforeShowDay: nonWorkingDates,
            dateFormat: 'dd-mm-yy',
            showOtherMonths: true,
            selectOtherMonths: true
            //showButtonPanel: true
            //minDate: new Date()//set minDate is today
        });

        $('#btnSearch').click(function () {
            $('#divCar').slideUp();
            $('#hideshow').css("display", "none");
            
            var obj = "plantid=" + $("#slPlant").val();
            obj += "&productid=" + $("#slProduct").val();
            obj += "&startdate=" + $("#start_date").val();
            obj += "&enddate=" + $("#end_date").val();

            CreateGrid(obj);
        });

        $(".fancybox").fancybox({
            openEffect: 'elastic',
            closeEffect: 'elastic',
            maxWidth: 800,
            maxHeight: 600,
            easing: true
        });

        $(document).on("click", ".btCar", function () {
            var $btn = $(this);
            $.get("@Url.Action("GetShowCar","Home")", "id=" + $btn.attr("data-rejId"), function (data) {
                 $("#lbReportNo").text(data.report_no);
                 $("#lbFound").text(data.found);
                 $("#lbRoot").text(data.root_cause);
                 $("#lbRespGrp").text(data.group_name);
                 $("#lbQtyProd").text(data.qty_product);
                 $("#lbQtyRej").text(data.qty_reject);
                 $("#lbIPQC").text(data.ipqc);
                 $("#lbIssueDate").text(data.issued_date);
                 $("#lbReplyDueDate").text(data.reply_due_date);
                 $("#lbReplyDate").text(data.reply_date);
                 $("#lbRespondDate").text(data.respond_date);
                 $("#lbEffDate").text(data.effective_date);
                 $("#linkFile").children().remove();
                 if (data.attach != null) {
                     $("#linkFile").append("<a href='../" + data.attach + "' target='_blank'>Show</a>");
                 }
             });
             $('#divCar').slideUp().slideDown();
             $('#hideshow').css("display", "inline");
             $("html, body").animate({ scrollTop: $(document).height() }, "slow");//scroll to bottom of page
             return false;
        });

        $('#hideshow').click(function (e) {
            e.preventDefault();//for prevent jump to top
            $('#divCar').slideToggle();
            if ($(this).text() == "Hide")
                $(this).text("Show CAR Detail");
            else
                $(this).text("Hide");
        });
    });
</script>
<h2>@ViewBag.Title</h2><br />
<table>
    <tr>
        <td>Start Date:</td>
        <td><input type="text" id="start_date" class="datepicker" style="width:120px;"/></td>
        <td>Plant:</td>
        <td>
            <select id="slPlant" style="width:150px;" >
                @foreach (var item in ViewBag.SelectPlant)
                {
                    <option value="@item.plant_id">
                        @item.plant_name
                    </option>
                }
            </select>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>End Date:</td>
        <td><input type="text" id="end_date" class="datepicker" style="width:120px;"/></td>
        <td>Product:</td>
        <td>
            <select id="slProduct" style="width:150px;" >
                <option value='0'>All Product</option>
                @foreach (var item in ViewBag.SelectProduct)
                {
                    <option value="@item.product_id">
                        @item.product_name
                    </option>
                }
            </select>
        </td>
        <td>
            <input type="button" id="btnSearch" value="Search" />
        </td>
    </tr>
</table>
<br />
<div id="divGridTable"></div>
<br />
<a href="#" id="hideshow" style="display:none;">Hide</a>
<div id="divCar" style="display:none;">
    <table id="tbCar" class="bordered">
        <tr>
            <th>Report No.</th>
            <td><span id="lbReportNo"></span></td>
            <th>Q'ty of Product</th>
            <td><span id="lbQtyProd"></span></td>
            <th>Reply Due Date</th>
            <td><span id="lbReplyDueDate"></span></td>
        </tr>
        <tr>
            <th>Found at Process</th>
            <td><span id="lbFound"></span></td>
            <th>Q'ty of Reject</th>
            <td><span id="lbQtyRej"></span></td>
            <th>Reply Date</th>
            <td><span id="lbReplyDate"></span></td>
        </tr>
        <tr>
            <th>Root cause (4M)</th>
            <td><span id="lbRoot"></span></td>
            <th>IPQC</th>
            <td><span id="lbIPQC"></span></td>
            <th>Respond Date</th>
            <td><span id="lbRespondDate"></span></td>
        </tr>
        <tr>
            <th>Responsible Group</th>
            <td><span id="lbRespGrp"></span></td>
            <th>Issue Date</th>
            <td><span id="lbIssueDate"></span></td>
            <th>Effective Date</th>
            <td><span id="lbEffDate"></span></td>
        </tr>
        <tr>
            <th>File scan</th>
            <td colspan="5">
                <span id="linkFile"></span>
            </td>
        </tr>
    </table>
</div>

@*<p>
  History (<span id="maxlength">50</span> characters left)
  <textarea rows="3" id="area"></textarea>
</p>
<script type="text/javascript">
    $('#area').restrictLength($('#maxlength'));
</script>*@
