
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/uploadify/uploadify.css")" />
<script type="text/javascript" src="@Url.Content("~/Scripts/uploadify/jquery.uploadify-3.2.min.js")"></script>
<link href="~/Content/table.css" rel="stylesheet" />
<style type="text/css">
    .ui-datepicker { font-size: 12px !important; }
    table.bordered th {
        text-align:left !important;
    }
    .jquery_form_error_message {
        font-size: .9em;
        color: red;
        display: block;
        margin-top: 2px;
    }
    .ui-jqgrid .ui-state-highlight { background: #7AC0DA; }
    .ui-jqgrid tr.jqgrow td { white-space: normal !important; }
</style>

<script type="text/javascript">
    //Datepicker Function disable/enable date
    //function nonWorkingDates(date) {
        //    var day = date.getDay(),
        //        Sunday = 0,
        //        Monday = 1,
        //        Tuesday = 2,
        //        Wednesday = 3,
        //        Thursday = 4,
        //        Friday = 5,
        //        Saturday = 6;

        //    //closed specific days
        //    var closedDays = [[Sunday], [Saturday]];

        //    //closed specific dates
        //    var closedDates = [[02, 05, 2013], [02, 06, 2013]];

        //    //opened specific days
        //    var openedDays = [[02, 09, 2013], [02, 10, 2013]];

        //    for (i = 0; i < openedDays.length; i++) {
        //        if (date.getMonth() == openedDays[i][0] - 1 &&
        //            date.getDate() == openedDays[i][1] &&
        //            date.getFullYear() == openedDays[i][2]) {

        //            return [true];
        //        }
        //    }
        //    for (var i = 0; i < closedDays.length; i++) {
        //        if (day == closedDays[i][0]) {
        //            return [false];
        //        }
        //    }
        //    for (i = 0; i < closedDates.length; i++) {
        //        if (date.getMonth() == closedDates[i][0] - 1 &&
        //            date.getDate() == closedDates[i][1] &&
        //            date.getFullYear() == closedDates[i][2]) {

        //            return [false];
        //        }
        //    }
        //    return [true];
    //}

    function disable(table_id) {
        var inputs = document.getElementById(table_id).getElementsByTagName('input');
        for (var i = 0; i < inputs.length; ++i)
            inputs[i].disabled = true;
    }

    function enable(table_id) {
        var inputs = document.getElementById(table_id).getElementsByTagName('input');
        for (var i = 0; i < inputs.length; ++i)
            inputs[i].disabled = false;
    }

    function clearForm(form) {
        // iterate over all of the inputs for the form
        // element that was passed in
        $(':input', form).each(function () {
            var type = this.type;
            var tag = this.tagName.toLowerCase(); // normalize case
            // it's ok to reset the value attr of text inputs,
            // password inputs, and textareas
            if (type == 'text' || type == 'password' || type == 'file' || tag == 'textarea')
                this.value = "";
                // checkboxes and radios need to have their checked state cleared
                // but should *not* have their 'value' changed
            else if (type == 'checkbox' || type == 'radio')
                this.checked = false;
                // select elements need to have their 'selectedIndex' property set to -1
                // (this works for both single and multiple select elements)
            else if (tag == 'select')
                this.selectedIndex = 0;//-1
        });
        $("#divCar").slideUp();
        $("#linkImg").children().remove();
        //$('#atPicture').uploadify('cancel');
        $("#linkFile").children().remove();
        //$('#atFilescan').uploadify('cancel');
        $('#hiddenPic').val("");
        $('#hiddenScan').val("");

        $("#slInspector").select2("val", "");
        $("#slSetupman").select2("val", "");
        $("#slScreener").select2("val", "");
    };

    function clearInspection() {
        $("#tableInsp tbody td").each(function () {
            if ($(this).children().prop("type") == "text") {
                $(this).children().val("");
            }
        });
    }

    function getInspection(cdate) {
        var obj = new Object();
        obj.mdate = cdate;
        clearInspection();
        // Initial value inspection
        $.get("@Url.Action("GetInspection")", obj, function (data) {
            $("#tableInsp tbody td").each(function () {
                if ($(this).children().prop("type") == "text") {
                    for (var i = 0; i < data.length; i++) {
                        if ($(this).children().prop("id") == data[i].prdid) {
                            $(this).children().val(data[i].qty);
                        }
                    }
                }
            });
            $('#btSave').val("Edit");
        });
    }

    function checkDate(cdate) {
        var obj = new Object();
        obj.mdate = cdate;
        // JQGrid
        $.post("@Url.Action("CheckDate")", obj, function (data) {
            if (data != "entrydate=01/01/0001") {
                //alert("This Date have data.");
                noty({ text: 'This Date have data.', layout: 'center', type: 'information', timeout: 3000 });
                CreateGrid(data);
                disable("tableInsp");
            }
            else {
                enable("tableInsp");
                CreateGrid(data);
            }
        });
    }

    function CreateGrid(data) {
        $("#divGridTable").html('<table id="grid_main"></table><div id="pager_main"></div>');
        jQuery("#grid_main").jqGrid({
            url: '@Url.Action("GridAddQCReject","QCReject")?' + data,
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Product', 'Item Code', 'Problem Detail', 'Lot no.', 'Defective Level', 'Shift', 'Image', 'Issue CAR', 'Status','Approver', 'Edit', 'Delete'],
            colModel: [
                { name: 'product_name', index: 'Master_Product.product_name', align: 'center', sortable: true },
                { name: 'item_code', index: 'item_code', align: 'center', sortable: true },
                { name: 'problem', index: 'problem', align: 'left', width: 200 },
                { name: 'lot_no', index: 'lot_no', align: 'center', sortable: true },
                { name: 'defective_lv', index: 'defective_lv', align: 'center', sortable: true },
                { name: 'shift', index: 'shift', align: 'center', sortable: true },
                { name: 'picture', index: 'picture', align: 'center' },
                { name: 'issue_car', index: 'issue_car', align: 'center', sortable: true },
                { name: 'status', index: 'status', align: 'center', sortable: true },
                { name: 'approver', index: 'approver', align: 'center', sortable: true },
                { name: 'edit', align: 'center', sortable: false, width: '100px' },
                { name: 'delete', align: 'center', sortable: false, width: '100px' }
            ],
            pager: jQuery('#pager_main'),
            //pagerpos: 'left',
            rowNum: 10,
            rowList: [5, 10, 20, 50],
            autowidth: true,
            //width: '600',
            height: 'auto',
            sortname: 'item_code',
            sortorder: 'desc',
            viewrecords: true,
            caption: 'QC Reject',
            ajaxSelectOptions: { cache: false },
            scrollOffset: 0
        });
        jQuery("#grid_main").jqGrid('navGrid', '#pager_main', { edit: false, add: false, del: false, search: false, view: false });
    }

    function InitialDatePicker() {
        d = $("#dateMain").datepicker("getDate");
        $("#dateIssue").datepicker("setDate", new Date(d.getFullYear(), d.getMonth(), d.getDate()));
        $("#dateReplyDue").datepicker("setDate", new Date(d.getFullYear(), d.getMonth(), d.getDate() + 9));//"+9d"
        //$("#dateReplyDue").datepicker("option", "minDate", new Date(d.getFullYear(), d.getMonth(), d.getDate()));
        $("#dateReply").datepicker("option", "minDate", new Date(d.getFullYear(), d.getMonth(), d.getDate()));
        $("#dateRespond").datepicker("option", "minDate", new Date(d.getFullYear(), d.getMonth(), d.getDate()));
        $("#dateEfft").datepicker("option", "minDate", new Date(d.getFullYear(), d.getMonth(), d.getDate()));
    }

    $(document).ready(function () {
        // Show error below inputs
        var validationSettings = {
            errorMessagePosition: 'element'//top, element
        };
        //Datepicker Setting
        $(".datepicker").datepicker({
            //beforeShowDay: nonWorkingDates,
            dateFormat: 'dd-mm-yy',
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true
            //minDate: new Date()//set minDate is today
        });

        //Check Date before Initial
        var init_date = '@ViewBag.InitialDate';
        if (init_date != null && init_date != "") {//Edit
            $("#dateMain").val(init_date).attr("disabled", "disabled");
            checkDate(init_date);
            getInspection(init_date);
            $("#formMain").css("display", "inline");
            $("#btComplete").css("display", "inline");
        } else {//New
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate() - 1;

            var output = (('' + day).length < 2 ? '0' : '') + day + '-' +
                (('' + month).length < 2 ? '0' : '') + month + '-' +
                d.getFullYear();
            checkDate(output);

            $("#dateMain").datepicker("setDate", "-1d").datepicker("option", "maxDate", "today");
        }

        $("#dateMain").change(function () {
            checkDate($("#dateMain").val());
            InitialDatePicker();
        });

        $(".fancybox").fancybox({
            openEffect  : 'elastic',
            closeEffect : 'elastic',
            maxWidth    : 800,
            maxHeight   : 600,
            easing      : true
        });

        $("#slProduct").change(function () {
            $.get("@Url.Action("getGroupByProduct")", "product=" + $(this).val(), function (data) {
                $("#slProduct2").val(data.group_id);
            });
        });
            
        // Show/Hide divCar
        $("#chCar").change(function () {
            if ($(this).attr("checked")) {
                $("#divCar").slideDown();
                InitialDatePicker();
                $.get("@Url.Action("getGroupByProduct")", "product=" + $("#slProduct").val(), function (data) {
                    $("#slProduct2").val(data.group_id);
                });
                return;
            }
            $("#divCar").slideUp();
        });
            
        $('#btSave').click(function () {
            if ($(this).val() == "Save") {
                if ($('#tableInsp').validate()) {
                        
                    var obj = new Object();
                    var str = '';

                    $("#tableInsp tbody td").each(function () {
                        if ($(this).children().prop("type") == "text") {
                            str += "+" + $(this).children().prop("id") + "," + $(this).children().val();
                        }
                    });

                    obj.mdate = $("#dateMain").val();
                    obj.inspec = str.substr(1, str.length);

                    $.post("@Url.Action("AddInspection")", obj, function (data) {
                        //alert(data);
                        noty({ text: data, layout: 'center', type: 'information', timeout: 3000 });
                    });
                    disable("tableInsp");
                    $('#btSave').val("Edit");
                    $("#formMain").css("display", "inline");
                    $("#btComplete").css("display", "inline");
                    $("#dateMain").datepicker("disable");
                }
            }
            else if ($(this).val() == "Edit") {
                if ($('#tableInsp').validate()) {
                    enable("tableInsp");
                    $('#btSave').val("Update");
                }
            }
            else if ($(this).val() == "Update") {
                if ($('#tableInsp').validate()) {

                    var obj = new Object();
                    var str = '';

                    $("#tableInsp tbody td").each(function () {
                        if ($(this).children().prop("type") == "text") {
                            str += "+" + $(this).children().prop("id") + "," + $(this).children().val();
                        }
                    });

                    obj.mdate = $("#dateMain").val();
                    obj.inspec = str.substr(1, str.length);

                    $.post("@Url.Action("UpdateInspection")", obj, function (data) {
                        //alert(data);
                        noty({ text: data, layout: 'center', type: 'information', timeout: 3000 });
                    });
                    disable("tableInsp");
                    $('#btSave').val("Edit");
                }
            }
        });
            
        //Initialize Uploadify on the file input.
        var prefix = (Math.floor((Math.random() * 1000) + 1)) + '_';
        $('#atPicture').uploadify({
            'swf': "@Url.Content("~/Scripts/uploadify/uploadify.swf")",
            'buttonText': 'Browse Picture',
            'fileDataName': 'Filedata',
            'auto': false,//Upload Auto
            'multi': false,
            'queueSizeLimit' : 1,
            //'fileSizeLimit': '10240KB',
            'fileTypeDesc': 'Image Files',
            'fileTypeExts': '*.gif; *.jpg; *.jpeg; *.bmp; *.tiff; *.tif; *.png',
            'height': 20,
            'width': 150,
            'method': 'post',
            'formData': { 'prefix': prefix },
            'uploader': "@Url.Action("UploadImages", "QCReject")",
            'onSelect': function (file) {
                $('#hiddenPic').val("Uploads/Images/@DateTime.Now.Year/" + prefix + file.name);
            },
            'onUploadSuccess': function (file, data, response) {}
        });
        $('#atPicture').uploadify('settings', 'ResetUploadsSuccessful', '0');

        $('#atFilescan').uploadify({
            'swf': "@Url.Content("~/Scripts/uploadify/uploadify.swf")",
            'buttonText': 'Browse File Scan',
            'fileDataName': 'Filedata',
            'auto': false,//Upload Auto
            'multi': false,
            'queueSizeLimit': 1,
            //'fileSizeLimit': '20480KB',
            'fileTypeDesc': 'Document Files',
            'fileTypeExts': '*.pdf; *.tiff; *.tif; *.doc; *.docx; *.xls; *.xlsx',
            'height': 20,
            'width': 150,
            'method': 'post',
            'formData': { 'prefix': prefix },
            'uploader': "@Url.Action("UploadFiles", "QCReject")",
            'onSelect': function (file) {
                $('#hiddenScan').val("Uploads/FileScan/@DateTime.Now.Year/" + prefix + file.name);
            },
            'onUploadSuccess': function (file, data, response) {}
        });

        $('#btAdd').click(function () {
                
            if ($('#formMain').validate()) {
                var obj = new Object();
                obj.mdate = $("#dateMain").val();
                obj.product = $("#slProduct").val();
                obj.itemcode = $("#txtItemCode").val();
                obj.lotno = $("#txtLotNo").val();
                obj.problem = $("#txtProblem").val();
                obj.deflv = $("#slDefLv").val();
                obj.picture = $("#hiddenPic").val();

                //obj.inspector1 = $("#txtInspector").val();
                //obj.screener1 = $("#txtScreener").val();
                obj.inspector = $("#slInspector").val();
                obj.setupman = $("#slSetupman").val();
                obj.screener = $("#slScreener").val();
                    
                obj.shift = $("#slShift").val();
                obj.car = $("#chCar").is(":checked") ? 1 : 0;
                if (obj.picture != "") $('#atPicture').uploadify('upload', '*');

                if (obj.car == 1) {
                    obj.reportno = $("#txtReportNo").val();
                    obj.foundat = $("#txtFoundAt").val();
                    obj.root = $("#sl4M").val();
                    obj.product2 = $("#slProduct2").val();
                    obj.qtyprd = $("#txtQtyPrd").val();
                    obj.qtyrej = $("#txtQtyRej").val();
                    obj.ipqc = $("#slIPQC").val();
                    obj.dateissue = $("#dateIssue").val();
                    obj.datedue = $("#dateReplyDue").val();
                    obj.datereply = $("#dateReply").val();
                    obj.daterespond = $("#dateRespond").val();
                    obj.dateefft = $("#dateEfft").val();
                    obj.file = $("#hiddenScan").val();
                    if (obj.file != "") $('#atFilescan').uploadify('upload', '*');
                }

                if ($(this).val() == "Add") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AddQCReject","QCReject")",
                        data: obj,
                        dataType: "json",
                        success: function (data) {
                            clearForm('#formMain');
                            $("#divCar").slideUp();
                            CreateGrid(data);
                            //alert("Add Success");
                            noty({ text: 'Add Success', layout: 'center', type: 'success', timeout: 3000 });
                        },
                        error: function (request, status, err) {
                            //alert("Request:" + request + ", Status:" + status + ", Error:" + err);
                            noty({ text: 'Request:' + request + ', Status:' + status + ', Error:' + err, layout: 'center', type: 'error' });
                        }
                    });
                }
                else if ($(this).val() == "Update") {
                    obj.reject_id = $("#hiddenID").val();
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("UpdateQCReject","QCReject")",
                        data: obj,
                        dataType: "json",
                        success: function (data) {
                            clearForm('#formMain');
                            $("#divCar").slideUp();
                            $("#btAdd").val("Add");
                            $("#btClear").val("Clear");
                            CreateGrid(data);
                            //alert("Update Success");
                            noty({ text: 'Update Success', layout: 'center', type: 'success', timeout: 3000 });
                        },
                        error: function (request, status, err) {
                            //alert("Request:" + request + ", Status:" + status + ", Error:" + err);
                            noty({ text: 'Request:' + request + ', Status:' + status + ', Error:' + err, layout: 'center', type: 'error' });
                        }
                    });
                }
            }
        });

        $('#btClear').click(function () {
            clearForm('#formMain');
            if ($(this).val() == "Cancel") {
                $(this).val("Clear");
                $("#btAdd").val("Add");
                $("#divCar").slideUp();
            }
        });

        $(document).on("click", ".btEdit", function () {
            var $btn = $(this);
            $.get("@Url.Action("GetQCReject")", "id=" + $btn.attr("data-rejId"), function (data) {
                $("#hiddenID").val(data.qc_reject_id);
                $("#slProduct").val(data.product_id);
                $("#txtItemCode").val(data.item_code);
                $("#txtLotNo").val(data.lot_no);
                $("#txtProblem").val(data.problem);
                $("#slDefLv").val(data.def_lv);
                $("#slShift").val(data.shift);
                //$("#txtInspector").val(data.inspector1);
                //$("#txtScreener").val(data.screener1);
                    
                $("#linkImg").children().remove();
                if (data.picture != null) {
                    $("#linkImg").append("<a href='../" + data.picture + "' class='fancybox'>Show</a>");
                }
                if (data.issue_car == "1") {
                    $("#chCar").attr("checked", true);
                    $("#divCar").slideDown();
                    $.get("@Url.Action("GetCar")", "id=" + $btn.attr("data-rejId"), function (data1) {
                        $("#txtReportNo").val(data1.report_no);
                        $("#txtFoundAt").val(data1.found);
                        $("#sl4M").val(data1.root_cause);
                        $("#slProduct2").val(data1.responsible);
                        $("#txtQtyPrd").val(data1.qty_product);
                        $("#txtQtyRej").val(data1.qty_reject);
                        $("#slIPQC").val(data1.ipqc);
                        $("#dateIssue").val(data1.issued_date);
                        $("#dateReplyDue").val(data1.reply_due_date);
                        $("#dateReply").val(data1.reply_date);
                        $("#dateRespond").val(data1.respond_date);
                        $("#dateEfft").val(data1.effective_date);
                        $("#linkFile").children().remove();
                        if (data1.attach != null) {
                            $("#linkFile").append("<a href='../" + data1.attach + "' target='_blank'>Show</a>");
                        }
                    });
                }
                else {
                    $("#chCar").attr("checked", false);
                    $("#divCar").slideUp();
                }
            });
            $.get("@Url.Action("GetQCInspector")", "id=" + $btn.attr("data-rejId"), function (operate) {
                $("#slInspector").select2("data", operate);
            });

            $.get("@Url.Action("GetSetupman")", "id=" + $btn.attr("data-rejId"), function (operate) {
                $("#slSetupman").select2("data", operate);
            });

            $.get("@Url.Action("GetScreener")", "id=" + $btn.attr("data-rejId"), function (operate) {
                $("#slScreener").select2("data", operate);
            });
            $("#btAdd").val("Update");
            $("#btClear").val("Cancel");
            return false;
        });

        $(document).on("click", ".btDel", function () {
            var obj = new Object();
            obj.mdate = $("#dateMain").val();
            obj.reject_id = $(this).attr("data-rejId");
                
            if (confirm("Are you sure to Delete ?")) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteQCReject","QCReject")",
                    data: obj,
                    dataType: "json",
                    success: function (data) {
                        //alert("data");
                        noty({ text: data, layout: 'center', type: 'information', timeout: 3000 });
                    },
                    error: function (request, status, err) {
                        //alert("Request:" + request + ", Status:" + status + ", Error:" + err);
                        noty({ text: 'Request:' + request + ', Status:' + status + ', Error:' + err, layout: 'center', type: 'error' });
                    }
                });
            }
            return false;
        });

        $('#btComplete').click(function () {
            var obj = new Object();
            obj.mdate = $("#dateMain").val();
            if (confirm("Are you sure to Complete ?")) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CompleteQCReject","QCReject")",
                    data: obj,
                    dataType: "json",
                    success: function (data) {
                        CreateGrid(data);
                        //alert("Complete!!!");
                        noty({ text: 'Complete!!!', layout: 'center', type: 'success', timeout: 3000 });
                    },
                    error: function (request, status, err) {
                        //alert("Request:" + request + ", Status:" + status + ", Error:" + err);
                        noty({ text: 'Request:' + request + ', Status:' + status + ', Error:' + err, layout: 'center', type: 'error'});
                    }
                });
            }
        });

        $(document).on("click", ".btCar", function () {
            var $btn = $(this);
            $.get("@Url.Action("GetShowCar","Home")", "id=" + $btn.attr("data-rejId"), function (data) {
                $("#lbReportNo").text(data.report_no);
                $("#lbFound").text(data.found);
                $("#lbRoot").text(data.root_cause);
                $("#lbRespGrp").text(data.group_name);
                $("#lbQtyProd").text(data.qty_product);
                $("#lbQtyRej").text(data.qty_reject);
                $("#lbIPQC").text(data.ipqc);
                $("#lbIssueDate").text(data.issued_date);
                $("#lbReplyDueDate").text(data.reply_due_date);
                $("#lbReplyDate").text(data.reply_date);
                $("#lbRespondDate").text(data.respond_date);
                $("#lbEffDate").text(data.effective_date);
                $("#linkFile1").children().remove();
                if (data.attach != null) {
                    $("#linkFile1").append("<a href='../" + data.attach + "' target='_blank'>Show</a>");
                }
            });
            $('#divShowCar').slideUp().slideDown();
            $('#hideshow').css("display", "inline");
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");//scroll to bottom of page
            return false;
        });

        $('#hideshow').click(function () {
            $('#divShowCar').slideToggle();
            if ($(this).text() == "Hide")
                $(this).text("Show");
            else
                $(this).text("Hide");
            return false;
        });

        $('#slDefLv').change(function () {
            if ($(this).val() == "Critical") {
                $("#chCar").attr("checked", true);
                $("#divCar").slideDown();
                InitialDatePicker();
            } else {
                $("#chCar").attr("checked", false);
                $("#divCar").slideUp();
            }
        });

        //$(".multiSelection").multiselect({
        //    selectedList: 6 // 0-based index
        //}).multiselectfilter();
        $('.select2ajax').select2({
            minimumInputLength: 1,
            multiple: true,
            ajax: {
                url: '@Url.Action("SearchUsers", "QCReject")',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        searchTerm: term
                    };
                },
                results: function (data, page) {
                    return { results: data };
                }
            },
            formatResult: function (item) { return item.text; },
            formatSelection: function (item) { return item.text; }
        });

        //$("#btTest1").click(function () {
        //    //alert($("#slInspector").select2("val"));
        //    $("#slInspector").select2("val","");
        //});
        //$("#btTest2").click(function () {
        //    //alert($("#slSetupman").select2("val"));
        //    $("#slSetupman").select2("val","");
        //});
        //$("#btTest3").click(function () {
        //    //alert($("#slScreener").select2("val"));
        //    $("#slScreener").select2("val","");
        //});
    });
</script>

<h2>@ViewBag.Title</h2>
@*@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)*@
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
    <p>
        Date : <input type="text" id="dateMain" class="datepicker" style="width:100px;"/>
    </p>
    <div style="overflow:auto;max-height:200px;">
        
        <table id="tableInsp" class="bordered" style="width:400px;">
            <thead>
                <tr>
                    <th style="text-align:center !important;">Product</th>
                    <th style="text-align:center !important;">Total Inspection Lot Q'ty</th>
                </tr>
            </thead>
            <tbody id="inspectdata">
            @foreach (var item in ViewBag.Product)
            {
                <tr>
                    <td>@item.product_name</td>
                    <td style="text-align:center !important;">
                        <input type="text" id="@item.product_id" data-validation="validate_int" />
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <input id="btSave" type="button" value="Save" />
    </div>
    <br />
    
<form id="formMain" name="formMain" action="#" style="display:none">
    <table id="tableQCRej" class="bordered">
        <tr>
            <th>Product</th>
            <td>
                <select id="slProduct" style="width:180px;">
                    @foreach (var item in ViewBag.Product)
                        {
                        <option value="@item.product_id">
                            @item.product_name
                        </option>
                        }
                </select>
            </td>
            <th style="white-space: nowrap">Defective level</th>
            <td>
                <select id="slDefLv" style="width:120px;">
                    <option>Minor</option>
                    <option>Major</option>
                    <option>Critical</option>
                </select>
            </td>
            <th style="white-space: nowrap">QC Inspector</th>
            <td>
                <input type="text" id="slInspector" class="select2ajax" style="width:300px" data-placeholder="Select Inspector" />
            </td>
        </tr>
        <tr>
            <th>Item code</th>
            <td>
                <input type="text" id="txtItemCode" style="width:180px;" data-validation="validate_min_length length9" />
            </td>
            <th>Shift</th>
            <td>
                <select id="slShift" style="width:120px;">
                    <option>Day</option>
                    <option>Night</option>
                </select>
            </td>
            <th>Setupman/Line Controller</th>
            <td>
                <!--input type="text" id="txtScreener" style="width:100px;" /-->
                <input type="text" id="slSetupman" class="select2ajax" style="width:300px" data-placeholder="Select Setupman" />
                <!--input type="button" value="X" id="btTest2" name="btTest2" /-->
            </td>
        </tr>
        <tr>
            <th>Lot no.</th>
            <td>
                <input type="text" id="txtLotNo" style="width:180px;" data-validation="validate_min_length length13" />
            </td>

            <th>Issue CAR</th>
            <td><input id="chCar" name="chCar" type="checkbox" />
                <input type="hidden" id="hiddenID" name="hiddenID" />
            </td>
            <th>Screener</th>
            <td>
                <input type="text" id="slScreener" class="select2ajax" style="width:300px" data-placeholder="Select Screener" />
            </td>
        </tr>
        <tr>
            <th style="white-space: nowrap">Problem detail</th>
            <td colspan="5">
                <input type="text" id="txtProblem" style="width:98%;" data-validation="validate_min_length length3" />
            </td>
        </tr>
        <tr>
            <th>Picture</th>
            <td colspan="5">
                <input type="file" name="atPicture" id="atPicture" />
                <input type="hidden" id="hiddenPic" name="hiddenPic" />
                <span id="linkImg"></span>
            </td>
        </tr>
    </table>
    <br />
    <div id="divCar" style="display:none;">
        <table class="bordered">
            <tr>
                <th>Report No.</th>
                <td><input type="text" id="txtReportNo" style="width:180px;" 
                    data-validation-if-checked="chCar" data-validation="validate_min_length length3"/></td>
                <th>Q'ty of Product</th>
                <td><input type="text" id="txtQtyPrd" style="width:120px;" 
                    data-validation-if-checked="chCar" data-validation="validate_int" /></td>
                <th>Reply Due Date</th>
                <td><input type="text" id="dateReplyDue" class="datepicker" style="width:120px;" disabled
                    data-validation-if-checked="chCar" data-validation="required"/></td>
            </tr>
            <tr>
                <th>Found at Process</th>
                <td><input type="text" id="txtFoundAt" style="width:180px;" 
                    data-validation-if-checked="chCar" data-validation="validate_min_length length3" /></td>
                <th>Q'ty of Reject</th>
                <td><input type="text" id="txtQtyRej" style="width:120px;" 
                    data-validation-if-checked="chCar" data-validation="validate_int" /></td>
                <th>Reply Date</th>
                <td><input type="text" id="dateReply" class="datepicker" style="width:120px;"/></td>
            </tr>
            <tr>
                <th>Root cause (4M)</th>
                <td>
                    <select id="sl4M" style="width:170px;" >
                        <option value="Man">Man</option>
                        <option value="Machine">Machine</option>
                        <option value="Material">Material</option>
                        <option value="Method">Method</option>
                    </select>
                </td>
                <th>IPQC</th>
                <td>
                    <select id="slIPQC" style="width:120px;" >
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
                <th>Respond Date</th>
                <td><input type="text" id="dateRespond" class="datepicker" style="width:120px;"/></td>
            </tr>
            <tr>
                <th>Responsible Group</th>
                <td>
                    <select id="slProduct2" style="width:170px;" >
                        @foreach (var item in ViewBag.Group)
                        {
                            <option value="@item.id">
                                @item.group_name
                            </option>
                        }
                    </select>
                </td>
                <th>Issue Date</th>
                <td><input type="text" id="dateIssue" style="width:120px;" class="datepicker" disabled /></td>
                <th>Effective Date</th>
                <td><input type="text" id="dateEfft" class="datepicker" style="width:120px;" /></td>
            </tr>
            <tr>
                <th>File scan</th>
                <td colspan="5">
                    <input id="atFilescan" name="atFilescan" type="file" data-validation-if-checked="chCar" data-validation="required" />
                    <input type="hidden" id="hiddenScan" name="hiddenScan" />
                    <span id="linkFile"></span>
                </td>
            </tr>
        </table>
    </div>
    <p>
        <input type="button" value="Add" id="btAdd"/>
        <input type="button" value="Clear" id="btClear"/>
    </p>
</form>
<div id="divGridTable"></div><br />

<a href="#" id="hideshow" style="display:none;">Hide</a>
<div id="divShowCar" style="display:none;">
    <table class="bordered">
        <tr>
            <th>Report No.</th>
            <td><span id="lbReportNo"></span></td>
            <th>Q'ty of Product</th>
            <td><span id="lbQtyProd"></span></td>
            <th>Reply Due Date</th>
            <td><span id="lbReplyDueDate"></span></td>
        </tr>
        <tr>
            <th>Found at Process</th>
            <td><span id="lbFound"></span></td>
            <th>Q'ty of Reject</th>
            <td><span id="lbQtyRej"></span></td>
            <th>Reply Date</th>
            <td><span id="lbReplyDate"></span></td>
        </tr>
        <tr>
            <th>Root cause (4M)</th>
            <td><span id="lbRoot"></span></td>
            <th>IPQC</th>
            <td><span id="lbIPQC"></span></td>
            <th>Respond Date</th>
            <td><span id="lbRespondDate"></span></td>
        </tr>
        <tr>
            <th>Responsible Group</th>
            <td><span id="lbRespGrp"></span></td>
            <th>Issue Date</th>
            <td><span id="lbIssueDate"></span></td>
            <th>Effective Date</th>
            <td><span id="lbEffDate"></span></td>
        </tr>
        <tr>
            <th>File scan</th>
            <td colspan="5">
                <span id="linkFile1"></span>
            </td>
        </tr>
    </table>
</div>
<p>
    <input type="button" value="Complete" id="btComplete" style="display:none;"/>
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
